<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
  <div class="container-fluid">
    <%= link_to "Navbar",root_path,class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home",root_path,class: "nav-link active"%>
        </li>
        <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link"%>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <% if  Current.user %>
    
          <div class='d-flex flex-row justify-content-end'>
            <% if request.original_url.split('/')[-1]!='twitter_accounts'%>
              <li class="nav-item">
                <div class='p-1 d-flex col-md justify-content-center align-items-center'>
                  <%= link_to "Twitter Account",:twitter_accounts, class:'btn btn-info'%>
                </div>
              </li>
            <%end%>
            <li class="nav-item">
              <div class='p-1 d-flex col-md justify-content-center align-items-center'>
                <%= link_to Current.user.email, :user_profile, class:'btn btn-primary'%>
              </div>
            </li>

            <li class="nav-item">
              <div class="p-1 d-flex col-md justify-content-center align-items-center">
                <%= button_to "Log Out", logout_path,method: :delete, class:'btn btn-outline-secondary'%>
              </div>
            </li>
            
          </div>
        <%else%>
          <div class='d-flex flex-row justify-content-around p-2'>
            <% if request.original_url.split('/')[-1]!='sign_in'%>
              <div class='p-2'>
                <%= link_to "Login",sign_in_path, class:'btn btn-primary'%>
              </div>
            <%end%>

            <% if request.original_url.split('/')[-1]!='sign_up'%>
              <div class='p-2'>
                <%= link_to "Sign Up",sign_up_path, class:'btn btn-outline-secondary'%>
              </div>
            <%end%>

          </div>
        <% end %>
      </ul>
    </div>
    
  </div>
</nav>